
body {
  
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://img.freepik.com/premium-photo/creative-educational-sketch-white-backdrop-with-copybooks-education-knowledge-concept-3d-rendering_670147-66821.jpg?ga=GA1.1.1785092718.1726396671&semt=ais_hybrid);
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* OTP Form Styling */
form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

label {
  display: block;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-right: 5cm;
}

button {
  background-color: #007BFF;
  margin-top: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 13px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  width: 70%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Error Message */
p {
  font-size: 14px;
  color: red;
  margin-top: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }

  h2 {
    font-size: 20px;
  }

  form {
    padding: 15px;
  }

  input[type="text"] {
    padding: 8px;
    font-size: 14px;
  }

  button {
    padding: 8px 15px;
    font-size: 14px;
  }
}

.home-text{
  text-align: center;
  color: #007BFF;
}

.container-home{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 0.2cm;

}